div{
    font-family: Raleway;
}
h1{
    text-align: center;
}
h2{
    color:#e6007e;
}
h3{
    color: green;
}
a{
    text-decoration: none; 
    display: inline-block;
}
nav{
    text-align: center;
}
nav a div{
    padding: 5px; color: white; width: 100px;
}
header{
    margin:5px; width:300px; padding: 10px;
    border: 5px dashed #e6007e;
    border-radius: 10px;
}
.syntax{
    margin: 5px; padding: 10px;
    margin-bottom: 0px;
    background-color: #ffb74d;
}
.demo{
    margin: 5px; padding: 10px;
    margin-top: 0; margin-bottom: 0;
    color: white;
    background-color: #444;
}
.demo:last-child { 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sec_title{
    margin: 5px;
    font-size: 30px; font-weight: bold; 
}
.sec_body{
    margin: 5px;
    font-family: 'Slabo 27px', serif; font-weight: bold;
    color: #b53598;
}
.sec
{
    margin: 20px; padding: 20px;
    border: 5px dashed #e6007e;
    border-radius: 10px;
    background-color: white;
}

.code{
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}
.output{
    position: relative;
}
.sample{
    float: left; margin: 10px;
}

footer
{
    background-color: black; margin: 20px; color: white;
    position: fixed;
    bottom: -10px; right:10px;
    padding: 5px;
    border-radius: 15px;
}