body{
    background-color: #F1F1F1;
    font-family: Raleway;
}
header{
    margin:5px; width:300px; padding: 10px;
    border: 5px dashed #e6007e;
    border-radius: 10px;
}
a{
    text-decoration-color: black;
    color: black;
}
nav{
    text-align: center;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav a div{
    width: 100px;
    padding: 5px; color: white;
}
footer{
    height: 100px;
}
.sec{
    width:300px; display: inline-block;
}
.sec_title{
    text-transform: uppercase;
    padding: 5px; margin:5px;
    width: 225px; height: 25px;
    border-radius: 3px;
    line-height: 25px;
    display:inline-block;
}
.sec_command{
    padding: 5px; margin:5px;
    border: 3px dashed #e6007e;
    border-top: none;
    width: 250px;
    display:inline-block;
    background-color: white;
    box-shadow: 0 5px 10px black;
}

.sec_notes{
    padding: 10px;
}

.sec_code{
    background-color: black;
    color: white;
    font-family: cursive;
    padding: 10px;
}
.sec_code pre{
    text-align: left;
    overflow-x:scroll;
}
.sec_output{
    position: relative;
    min-height: 200px;
    background-color: #ddd;
}

.credits{
    position: fixed;
    bottom: 10px;
    right: 10px;
}